In [335]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# pip install scikit-learn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score

In [336]:
df = pd.read_csv("test-data.csv")

In [337]:
df.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats
0,Maruti Alto K10 LXI CNG,Delhi,2014,40929,Petrol,Manual,First,32.26 kmpl,998 CC,58.2 bhp,4
1,Maruti Alto 800 2016-2019 LXI,Coimbatore,2013,54493,Petrol,Manual,Second,24.7 kmpl,796 CC,47.3 bhp,5
2,Toyota Innova Crysta Touring Sport 2.4 MT,Mumbai,2017,34000,Diesel,Manual,First,13.68 kmpl,2393 CC,147.8 bhp,7
3,Toyota Etios Liva GD,Hyderabad,2012,139000,Diesel,Manual,First,23.59 kmpl,1364 CC,null bhp,5
4,Hyundai i20 Magna,Mumbai,2014,29000,Petrol,Manual,First,18.5 kmpl,1197 CC,82.85 bhp,5

In [338]:
df['Power'] = df['Power'].str.replace('bhp', '')
df['Mileage'] = df['Mileage'].str.replace('kmpl', '')
df['Mileage'] = df['Mileage'].str.replace('km/kg', '')
df['Engine'] = df['Engine'].str.replace('CC', '')
df = df.drop('Name', axis=1)

In [339]:
df = df[df['Power'].str.strip().str.lower() != 'null']
df = df[df['Engine'].str.strip().str.lower() != 'null']
df.head()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats
0,Delhi,2014,40929,Petrol,Manual,First,32.26,998,58.2,4
1,Coimbatore,2013,54493,Petrol,Manual,Second,24.7,796,47.3,5
2,Mumbai,2017,34000,Diesel,Manual,First,13.68,2393,147.8,7
4,Mumbai,2014,29000,Petrol,Manual,First,18.5,1197,82.85,5
5,Coimbatore,2016,85609,Diesel,Manual,Second,16.0,2179,140,7

In [340]:
for col in df.columns:
    # Try to convert each value in the column to numeric
    numeric_values = pd.to_numeric(df[col], errors='coerce')
    
    # Check if there are any non-numeric values after conversion
    wrong_values = df[col][pd.isna(numeric_values)]
    
    if not wrong_values.empty:
        print(f"Column '{col}' has wrong numerical data:")
        print(wrong_values)

Column 'Location' has wrong numerical data:
0            Delhi
1       Coimbatore
2           Mumbai
4           Mumbai
5       Coimbatore
           ...
1219     Hyderabad
1220        Mumbai
1221       Kolkata
1222          Pune
1223         Kochi
Name: Location, Length: 1202, dtype: object
Column 'Fuel_Type' has wrong numerical data:
0       Petrol
1       Petrol
2       Diesel
4       Petrol
5       Diesel
         ...
1219    Diesel
1220    Petrol
1221    Diesel
1222    Petrol
1223    Diesel
Name: Fuel_Type, Length: 1202, dtype: object
Column 'Transmission' has wrong numerical data:
0          Manual
1          Manual
2          Manual
4          Manual
5          Manual
          ...
1219       Manual
1220    Automatic
1221       Manual
1222    Automatic
1223    Automatic
Name: Transmission, Length: 1202, dtype: object
Column 'Owner_Type' has wrong numerical data:
0        First
1       Second
2        First
4        First
5       Second
         ...
1219     First
1220     First
1221     First
1222     Third
1223     First
Name: Owner_Type, Length: 1202, dtype: object

In [341]:
df['Power'] = pd.to_numeric(df['Power'])
df['Mileage'] = pd.to_numeric(df['Mileage'])
df['Engine'] = pd.to_numeric(df['Engine'])
df.head(30)

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats
0,Delhi,2014,40929,Petrol,Manual,First,32.26,998,58.20,4
1,Coimbatore,2013,54493,Petrol,Manual,Second,24.70,796,47.30,5
2,Mumbai,2017,34000,Diesel,Manual,First,13.68,2393,147.80,7
4,Mumbai,2014,29000,Petrol,Manual,First,18.50,1197,82.85,5
5,Coimbatore,2016,85609,Diesel,Manual,Second,16.00,2179,140.00,7
6,Pune,2015,59000,Diesel,Automatic,First,12.55,2982,168.70,7
7,Jaipur,2013,65000,Petrol,Manual,First,21.10,814,55.20,5
8,Mumbai,2011,66000,Petrol,Manual,Second,17.00,1497,118.00,5
9,Coimbatore,2015,54684,Diesel,Manual,First,15.10,2179,140.00,7
10,Mumbai,2012,78000,Diesel,Automatic,Second,12.80,1968,167.60,5
11,Jaipur,2016,21000,Petrol,Manual,First,18.90,1197,82.00,5
12,Chennai,2007,90000,Petrol,Manual,Third,13.40,1794,125.00,5
13,Coimbatore,2008,87628,Diesel,Manual,First,17.80,1248,75.00,5
14,Mumbai,2014,45000,Petrol,Manual,First,13.24,1598,102.50,5
15,Coimbatore,2013,30788,Diesel,Automatic,First,17.05,1995,184.00,5
16,Hyderabad,2015,39524,Diesel,Automatic,First,19.59,1995,184.00,5
17,Chennai,2009,140000,Diesel,Manual,First,13.80,1399,68.00,5
18,Kochi,2019,15409,Petrol,Automatic,First,22.00,1197,81.80,5
19,Jaipur,2015,36502,Petrol,Manual,First,17.50,1298,85.80,5
20,Pune,2016,200000,Diesel,Manual,First,23.20,1248,73.94,5
21,Delhi,2010,70000,Petrol,Manual,First,18.06,1198,75.00,5
22,Kochi,2017,36701,Petrol,Manual,First,24.70,796,47.30,5
23,Bangalore,2011,40000,Petrol,Manual,Second,15.50,1799,132.00,5
24,Pune,2005,47000,Petrol,Manual,Second,13.80,1299,70.00,5
25,Pune,2006,93500,Petrol,Manual,Second,19.70,796,46.30,5
26,Pune,2015,52000,Diesel,Manual,First,27.30,1498,98.60,5
27,Delhi,2015,55429,Diesel,Automatic,Second,21.66,1498,103.52,5
28,Mumbai,2011,133000,Petrol,Manual,Second,17.00,1197,80.00,5
29,Chennai,2014,70000,Diesel,Manual,Second,23.59,1364,67.06,5
30,Pune,2014,68000,Diesel,Manual,First,15.11,1598,103.60,5

In [342]:
df.describe()

,Year,Kilometers_Driven,Mileage,Engine,Power,Seats
count,1202.000000,1202.000000,1202.000000,1202.000000,1202.000000,1202.000000
mean,2013.500000,57927.015807,18.271248,1597.504992,110.380420,5.288686
std,3.091244,35460.516022,4.296529,566.543338,51.543818,0.832733
min,2000.000000,1000.000000,0.000000,624.000000,34.200000,2.000000
25%,2011.000000,33511.000000,15.290000,1198.000000,75.000000,5.000000
50%,2014.000000,54000.000000,18.440000,1461.000000,93.700000,5.000000
75%,2016.000000,73893.750000,21.100000,1968.000000,130.000000,5.000000
max,2019.000000,350000.000000,32.260000,5998.000000,616.000000,10.000000

In [343]:
df['Transmission'] = df['Transmission'].replace({'Manual': 0, 'Automatic': 1})
df = df.drop('Owner_Type', axis=1)
df = df.drop('Fuel_Type', axis=1)
df = df.drop('Location', axis=1)
df = df.drop('Year', axis=1)
df.head(10)

    Kilometers_Driven  Transmission  Mileage  Engine   Power  Seats
0               40929             0    32.26     998   58.20      4
1               54493             0    24.70     796   47.30      5
2               34000             0    13.68    2393  147.80      7
4               29000             0    18.50    1197   82.85      5
5               85609             0    16.00    2179  140.00      7
6               59000             1    12.55    2982  168.70      7
7               65000             0    21.10     814   55.20      5
8               66000             0    17.00    1497  118.00      5
9               54684             0    15.10    2179  140.00      7
10              78000             1    12.80    1968  167.60      5

In [344]:
df.columns

Index(['Kilometers_Driven', 'Transmission', 'Mileage', 'Engine', 'Power',
       'Seats'],
      dtype='object')

In [345]:
for col in df.columns:
    # Try to convert each value in the column to numeric
    numeric_values = pd.to_numeric(df[col], errors='coerce')
    
    # Check if there are any non-numeric values after conversion
    wrong_values = df[col][pd.isna(numeric_values)]
    
    if not wrong_values.empty:
        print(f"Column '{col}' has wrong numerical data:")
        print(wrong_values)

In [346]:
df.head()

   Kilometers_Driven  Transmission  Mileage  Engine   Power  Seats
0              40929             0    32.26     998   58.20      4
1              54493             0    24.70     796   47.30      5
2              34000             0    13.68    2393  147.80      7
4              29000             0    18.50    1197   82.85      5
5              85609             0    16.00    2179  140.00      7

In [347]:
df.describe()

,Kilometers_Driven,Transmission,Mileage,Engine,Power,Seats
count,1202.000000,1202.000000,1202.000000,1202.000000,1202.000000,1202.000000
mean,57927.015807,0.268719,18.271248,1597.504992,110.380420,5.288686
std,35460.516022,0.443478,4.296529,566.543338,51.543818,0.832733
min,1000.000000,0.000000,0.000000,624.000000,34.200000,2.000000
25%,33511.000000,0.000000,15.290000,1198.000000,75.000000,5.000000
50%,54000.000000,0.000000,18.440000,1461.000000,93.700000,5.000000
75%,73893.750000,1.000000,21.100000,1968.000000,130.000000,5.000000
max,350000.000000,1.000000,32.260000,5998.000000,616.000000,10.000000

In [348]:
X = df[['Transmission', 'Mileage', 'Engine', 'Power', 'Seats']]

# have only the target variable here (dependent variable)
y = df['Kilometers_Driven']

In [349]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [350]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [351]:
logmodel = LogisticRegression()
logmodel.fit(X_train, y_train)

LogisticRegression()

In [352]:
predictions = logmodel.predict(X_test)

In [353]:
print(classification_report(y_test, predictions))

# get overall accuracy of the model and print it
acc = accuracy_score(y_test, predictions)
print("\nModel overall accuracy: {:.2f}%".format(acc * 100))

              precision    recall  f1-score   support

        1000       0.00      0.00      0.00         1
        1001       0.00      0.00      0.00         2
        1015       0.00      0.00      0.00         1
        2890       0.00      0.00      0.00         1
        3413       0.00      0.00      0.00         1
        4708       0.00      0.00      0.00         1
        5752       0.00      0.00      0.00         1
        6512       0.00      0.00      0.00         1
        7000       0.00      0.00      0.00         2
        9052       0.00      0.00      0.00         1
       10500       0.00      0.00      0.00         1
       11206       0.00      0.00      0.00         1
       11791       0.00      0.00      0.00         1
       12000       0.00      0.00      0.00         1
       13000       0.00      0.00      0.00         1
       13500       0.00      0.00      0.00         1
       13664       0.00      0.00      0.00         1
       14000       0.00      0.00      0.00         1
       14052       0.00      0.00      0.00         1
       14300       0.00      0.00      0.00         0
       14311       0.00      0.00      0.00         1
       14730       0.00      0.00      0.00         1
       14850       0.00      0.00      0.00         1
       14927       0.00      0.00      0.00         1
       15000       0.00      0.00      0.00         5
       15322       0.00      0.00      0.00         1
       16000       0.00      0.00      0.00         2
       16409       0.00      0.00      0.00         1
       17000       0.00      0.00      0.00         0
       18000       0.00      0.00      0.00         2
       18338       0.00      0.00      0.00         0
       18366       0.00      0.00      0.00         1
       18856       0.00      0.00      0.00         1
       19000       0.00      0.00      0.00         2
       19476       0.00      0.00      0.00         1
       19678       0.00      0.00      0.00         1
       19964       0.00      0.00      0.00         1
       20000       0.00      0.00      0.00         5
       20047       0.00      0.00      0.00         0
       20185       0.00      0.00      0.00         1
       21000       0.00      0.00      0.00         2
       21730       0.00      0.00      0.00         1
       21762       0.00      0.00      0.00         1
       22000       0.00      0.00      0.00         1
       22003       0.00      0.00      0.00         1
       22177       0.00      0.00      0.00         1
       22230       0.00      0.00      0.00         1
       22296       0.00      0.00      0.00         1
       23000       0.00      0.00      0.00         2
       24000       0.00      0.00      0.00         3
       24001       0.00      0.00      0.00         1
       25000       0.00      0.00      0.00         4
       25087       0.00      0.00      0.00         1
       25160       0.00      0.00      0.00         1
       25183       0.00      0.00      0.00         1
       25678       0.00      0.00      0.00         1
       26000       0.00      0.00      0.00         2
       26189       0.00      0.00      0.00         1
       26642       0.00      0.00      0.00         1
       26900       0.00      0.00      0.00         1
       27000       0.00      0.00      0.00         1
       27525       0.00      0.00      0.00         1
       27778       0.00      0.00      0.00         1
       27912       0.00      0.00      0.00         1
       28000       0.00      0.00      0.00         1
       28358       0.00      0.00      0.00         1
       29000       0.00      0.00      0.00         1
       29108       0.00      0.00      0.00         1
       29110       0.00      0.00      0.00         1
       30000       0.00      0.00      0.00         1
       30010       0.00      0.00      0.00         1
       30315       0.00      0.00      0.00         1
       30342       0.00      0.00      0.00         1
       30631       0.00      0.00      0.00         1
       30842       0.00      0.00      0.00         1
       31000       0.00      0.00      0.00         1
       31200       0.00      0.00      0.00         1
       31736       0.00      0.00      0.00         1
       32000       0.00      0.00      0.00         0
       32090       0.00      0.00      0.00         1
       32100       0.00      0.00      0.00         1
       32835       0.00      0.00      0.00         1
       33000       0.00      0.00      0.00         4
       33128       0.00      0.00      0.00         0
       33140       0.00      0.00      0.00         1
       33186       0.00      0.00      0.00         1
       33601       0.00      0.00      0.00         1
       34000       0.00      0.00      0.00         1
       34464       0.00      0.00      0.00         1
       34820       0.00      0.00      0.00         1
       35000       0.00      0.00      0.00         5
       35007       0.00      0.00      0.00         1
       35161       0.00      0.00      0.00         1
       35315       0.00      0.00      0.00         1
       35976       0.00      0.00      0.00         1
       36000       0.00      0.00      0.00         1
       36502       0.00      0.00      0.00         1
       36611       0.00      0.00      0.00         1
       37000       0.00      0.00      0.00         1
       37492       0.00      0.00      0.00         1
       38000       0.00      0.00      0.00         0
       38583       0.00      0.00      0.00         1
       39000       0.00      0.00      0.00         1
       39100       0.00      0.00      0.00         1
       39736       0.00      0.00      0.00         1
       40000       0.00      0.00      0.00         1
       40929       0.00      0.00      0.00         1
       41000       0.00      0.00      0.00         1
       41836       0.00      0.00      0.00         1
       42125       0.00      0.00      0.00         1
       42200       0.00      0.00      0.00         1
       42500       0.00      0.00      0.00         1
       42925       0.00      0.00      0.00         1
       42954       0.00      0.00      0.00         1
       43518       0.00      0.00      0.00         1
       43814       0.00      0.00      0.00         1
       44287       0.00      0.00      0.00         1
       44379       0.00      0.00      0.00         1
       44535       0.00      0.00      0.00         1
       45000       0.02      0.50      0.05         4
       45463       0.00      0.00      0.00         1
       46000       0.00      0.00      0.00         3
       46112       0.00      0.00      0.00         1
       47000       0.00      0.00      0.00         3
       47052       0.00      0.00      0.00         1
       47490       0.00      0.00      0.00         0
       47572       0.00      0.00      0.00         1
       48000       0.00      0.00      0.00         3
       48045       0.00      0.00      0.00         1
       49000       0.00      0.00      0.00         5
       49500       0.00      0.00      0.00         1
       50000       0.00      0.00      0.00         1
       51000       0.00      0.00      0.00         3
       52000       0.00      0.00      0.00         0
       52100       0.00      0.00      0.00         1
       52300       0.00      0.00      0.00         1
       53093       0.00      0.00      0.00         1
       53138       0.00      0.00      0.00         1
       53190       0.00      0.00      0.00         1
       54000       0.00      0.00      0.00         3
       54278       0.00      0.00      0.00         1
       55000       0.00      0.00      0.00         3
       55100       0.00      0.00      0.00         1
       55331       0.00      0.00      0.00         1
       55409       0.00      0.00      0.00         1
       55429       0.00      0.00      0.00         1
       55600       0.00      0.00      0.00         1
       55945       0.00      0.00      0.00         1
       56000       0.00      0.00      0.00         1
       57000       0.00      0.00      0.00         1
       57178       0.00      0.00      0.00         1
       57669       0.00      0.00      0.00         1
       57804       0.00      0.00      0.00         1
       57900       0.00      0.00      0.00         1
       58000       0.00      0.00      0.00         2
       58598       0.00      0.00      0.00         1
       58811       0.00      0.00      0.00         1
       58840       0.00      0.00      0.00         1
       58898       0.00      0.00      0.00         1
       59000       0.00      0.00      0.00         2
       60000       0.00      0.00      0.00         4
       60188       0.00      0.00      0.00         1
       60739       0.00      0.00      0.00         1
       61000       0.00      0.00      0.00         2
       61259       0.00      0.00      0.00         1
       61665       0.00      0.00      0.00         1
       61903       0.00      0.00      0.00         1
       62100       0.00      0.00      0.00         1
       62269       0.00      0.00      0.00         1
       62659       0.00      0.00      0.00         1
       62766       0.00      0.00      0.00         1
       62889       0.00      0.00      0.00         1
       63000       0.00      0.00      0.00         2
       63008       0.00      0.00      0.00         1
       63528       0.00      0.00      0.00         1
       63698       0.00      0.00      0.00         1
       64000       0.00      0.00      0.00         1
       64631       0.00      0.00      0.00         1
       65000       0.01      0.25      0.02         4
       65137       0.00      0.00      0.00         1
       65371       0.00      0.00      0.00         1
       65475       0.00      0.00      0.00         1
       66000       0.00      0.00      0.00         1
       66287       0.00      0.00      0.00         1
       66800       0.00      0.00      0.00         1
       66889       0.00      0.00      0.00         1
       67000       0.00      0.00      0.00         4
       67500       0.00      0.00      0.00         1
       67700       0.00      0.00      0.00         1
       68000       0.00      0.00      0.00         2
       69000       0.00      0.00      0.00         1
       69062       0.00      0.00      0.00         1
       69095       0.00      0.00      0.00         0
       69470       0.00      0.00      0.00         1
       70000       0.00      0.00      0.00         5
       70655       0.00      0.00      0.00         1
       71000       0.00      0.00      0.00         3
       71467       0.00      0.00      0.00         1
       71601       0.00      0.00      0.00         1
       72000       0.00      0.00      0.00         1
       72443       0.00      0.00      0.00         1
       72734       0.00      0.00      0.00         1
       73000       0.00      0.00      0.00         2
       73575       0.00      0.00      0.00         1
       75000       0.00      0.00      0.00         2
       75422       0.00      0.00      0.00         1
       75724       0.00      0.00      0.00         1
       76000       0.00      0.00      0.00         4
       76560       0.00      0.00      0.00         1
       76677       0.00      0.00      0.00         1
       76681       0.00      0.00      0.00         1
       77000       0.00      0.00      0.00         1
       77372       0.00      0.00      0.00         1
       77901       0.00      0.00      0.00         1
       77914       0.00      0.00      0.00         1
       78835       0.00      0.00      0.00         1
       78904       0.00      0.00      0.00         1
       78984       0.00      0.00      0.00         1
       79000       0.00      0.00      0.00         1
       79038       0.00      0.00      0.00         1
       79999       0.00      0.00      0.00         1
       80000       0.00      0.00      0.00         2
       80020       0.00      0.00      0.00         1
       81000       0.00      0.00      0.00         1
       81245       0.00      0.00      0.00         0
       81814       0.00      0.00      0.00         1
       82000       0.00      0.00      0.00         4
       83000       0.00      0.00      0.00         2
       83503       0.00      0.00      0.00         1
       85009       0.00      0.00      0.00         1
       85264       0.00      0.00      0.00         1
       86033       0.00      0.00      0.00         1
       86107       0.00      0.00      0.00         1
       86247       0.00      0.00      0.00         1
       87000       0.00      0.00      0.00         2
       87248       0.00      0.00      0.00         1
       87628       0.00      0.00      0.00         1
       88000       0.00      0.00      0.00         1
       88107       0.00      0.00      0.00         1
       88375       0.00      0.00      0.00         1
       89000       0.00      0.00      0.00         1
       90000       0.00      0.00      0.00         2
       90198       0.00      0.00      0.00         1
       93000       0.00      0.00      0.00         1
       93500       0.00      0.00      0.00         1
       93568       0.00      0.00      0.00         1
       94000       0.00      0.00      0.00         1
       94385       0.00      0.00      0.00         1
       95000       0.00      0.00      0.00         1
       97899       0.00      0.00      0.00         1
       98000       0.00      0.00      0.00         4
       98245       0.00      0.00      0.00         0
       98500       0.00      0.00      0.00         1
       99000       0.00      0.00      0.00         1
      100000       0.00      0.00      0.00         1
      100077       0.00      0.00      0.00         1
      100922       0.00      0.00      0.00         1
      102000       0.00      0.00      0.00         1
      104350       0.00      0.00      0.00         1
      105001       0.00      0.00      0.00         1
      106000       0.00      0.00      0.00         1
      107000       0.00      0.00      0.00         2
      108000       0.00      0.00      0.00         2
      110000       0.00      0.00      0.00         0
      110896       0.00      0.00      0.00         1
      111166       0.00      0.00      0.00         1
      116000       0.00      0.00      0.00         1
      120000       0.00      0.00      0.00         1
      121000       0.00      0.00      0.00         1
      121590       0.00      0.00      0.00         1
      126000       0.00      0.00      0.00         1
      130000       0.00      0.00      0.00         3
      131503       0.00      0.00      0.00         1
      137711       0.00      0.00      0.00         1
      140000       0.00      0.00      0.00         1
      142000       0.00      0.00      0.00         1
      147000       0.00      0.00      0.00         1
      147202       0.00      0.00      0.00         1
      150000       0.00      0.00      0.00         1
      157301       0.00      0.00      0.00         1
      158000       0.00      0.00      0.00         1
      160000       0.00      0.00      0.00         2
      174889       0.00      0.00      0.00         1
      183513       0.00      0.00      0.00         1
      190000       0.00      0.00      0.00         1
      200000       0.00      0.00      0.00         1
      350000       0.00      0.00      0.00         1

    accuracy                           0.01       361
   macro avg       0.00      0.00      0.00       361
weighted avg       0.00      0.01      0.00       361


Model overall accuracy: 0.83%

c:\Users\Roman\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\Roman\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\Roman\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\Roman\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\Roman\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\Roman\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [354]:
print(confusion_matrix(y_test, predictions))

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [355]:
roc_auc_score(y, logmodel.predict_proba(X.values), multi_class='ovr')

ValueError: Number of classes in y_true not equal to the number of columns in 'y_score'

In [ ]:
tester_row = {
    'Transmission': 1,
    'Mileage': 32,
    'Engine': 1000,
    'Power': 100,
    'Seats': 5
}

# create a pandas DataFrame and scale the values
tester_row = pd.DataFrame([tester_row])
tester_row = sc.transform(tester_row)

print("All probabilities by category:")
print(logmodel.predict_proba(tester_row))
print()

# change these based on your original data
labels = []

print("Kilometers_Driven:")
result = labels[logmodel.predict(tester_row)[0]]
print(result)
print("-------------------")

In [ ]:
correlation_matrix = df.corr(numeric_only=True)
plt.figure(figsize=(8, 6))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', linewidths=0.5)
plt.title('Correlation Matrix')
plt.show()