In [1]:
import sklearn
import numpy as np
import pandas as pd

In [2]:
phones = {
    "x": [6, 5, 2, 8, 9],
    "y": [65, 83, 35, 97, 25]
}

In [3]:
df = pd.DataFrame.from_dict(phones)

In [4]:
df.head()

   x   y
0  6  65
1  5  83
2  2  35
3  8  97
4  9  25

In [5]:
x_mean = df['x'].mean()
y_mean = df['y'].mean()
print(x_mean, y_mean)

6.0 61.0

In [6]:
x_diff = df['x'] - x_mean
y_diff = df['y'] - y_mean
df['x_diff'] = x_diff
df['y_diff'] = y_diff

In [7]:
df.head()

   x   y  x_diff  y_diff
0  6  65     0.0     4.0
1  5  83    -1.0    22.0
2  2  35    -4.0   -26.0
3  8  97     2.0    36.0
4  9  25     3.0   -36.0

In [8]:
df['x_diff2'] = df['x_diff'] ** 2
df['xy_diff'] = df['x_diff'] * df['y_diff']

In [9]:
df.head()

   x   y  x_diff  y_diff  x_diff2  xy_diff
0  6  65     0.0     4.0      0.0      0.0
1  5  83    -1.0    22.0      1.0    -22.0
2  2  35    -4.0   -26.0     16.0    104.0
3  8  97     2.0    36.0      4.0     72.0
4  9  25     3.0   -36.0      9.0   -108.0

In [10]:
xy_diff_total = df['xy_diff'].sum()
x2_diff_total = df['x_diff2'].sum()

m = xy_diff_total / x2_diff_total
m

1.5333333333333334

In [11]:
m = round(m, 3)
m

1.533

In [12]:
b = y_mean - m * x_mean
b

51.802

In [13]:
b = round(b, 3)
b

51.802

In [14]:
text = f"y^2 = {m} * x + ({b})"
text

'y^2 = 1.533 * x + (51.802)'